<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="#" style="text-decoration: none;" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>S</b>TR</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <b>Sitaru</b>WebGIS</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" style="text-decoration: none;" class="sidebar-toggle" data-toggle="push-menu"
      role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu" ng-if="!$ctrl.debugMode">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 4 messages</li>
            <li>
              <!-- inner menu: contains the messages -->
              <ul class="menu">
                <li>
                  <!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <!-- User Image -->
                      <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <!-- Message title and timestamp -->
                    <h4>
                      Support Team
                      <small>
                        <i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <!-- The message -->
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <!-- end message -->
              </ul>
              <!-- /.menu -->
            </li>
            <li class="footer">
              <a href="#">See All Messages</a>
            </li>
          </ul>
        </li>
        <!-- /.messages-menu -->

        <!-- Notifications Menu -->
        <li class="dropdown notifications-menu" style="display: none">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <!-- Inner Menu: contains the notifications -->
              <ul class="menu">
                <li>
                  <!-- start notification -->
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li>
                <!-- end notification -->
              </ul>
            </li>
            <li class="footer">
              <a href="#">View all</a>
            </li>
          </ul>
        </li>
        <!-- Tasks Menu -->
        <li class="dropdown tasks-menu" style="display: none">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
            <span class="label label-danger">9</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 9 tasks</li>
            <li>
              <!-- Inner menu: contains the tasks -->
              <ul class="menu">
                <li>
                  <!-- Task item -->
                  <a href="#">
                    <!-- Task title and progress text -->
                    <h3>
                      Design some buttons
                      <small class="pull-right">20%</small>
                    </h3>
                    <!-- The progress bar -->
                    <div class="progress xs">
                      <!-- Change the css width attribute to simulate progress -->
                      <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">20% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
              </ul>
            </li>
            <li class="footer">
              <a href="#">View all tasks</a>
            </li>
          </ul>
        </li>
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="dropdown" aria-expanded="false">
            <!-- The user image in the navbar-->
            <img src="http://via.placeholder.com/160x160" class="user-image" alt="User Image">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">admin</span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              <img src="http://via.placeholder.com/160x160" class="img-circle" alt="User Image">

              <p>
                Dany Laksono - Admin
                <small>Member since Nov. 2012</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li ng-if="!$ctrl.debugMode" class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="/api/me" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a ui-sref="logout" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar">
            <i class="fa fa-question-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>







<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div ng-if="$ctrl.isCollapsed" class="user-panel" style="text-align: center">
      <div>
        <img src="/assets/images/logo_small.png" alt="User Image">
      </div>
      <div style="padding-bottom: 25px">
        <h3 style="color:white">SiTaRu Yogya</h3>
        <!-- Status -->
        <a> Sistem Informasi Tata Ruang </a>
        <br>
        <a> dan Pertanahan</a>
        <br>
        <a> Kota Yogyakarta</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form ng-if="!$ctrl.debugMode" action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Daftar Menu</li>
      <li> </li>
      <!-- Optionally, you can add icons to the links -->
      <li ui-sref-active="active">
        <a href="/">
          <i class="fa fa-map"></i>
          <span>Peta Tata Ruang</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a href="/adminlte">
          <i class="fa fa-flag"></i>
          <span>Dashboard Kasultanan</span>
        </a>
      </li>

      <li class="header">Pengaturan</li>

      <li class="treeview" ui-sref-active="active">
        <a href="http://localhost:8089/geoserver/">
          <i class="fa fa-gears"></i>
          <span >Admin</span>
          <!--span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span-->
        </a>
        <ul ng-if="!$ctrl.debugMode" class="treeview-menu">
          <li>
            <a href="#">Link in level 2</a>
          </li>
          <li>
            <a href="#">Link in level 2</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>







<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Create the tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active">
      <a href="#control-sidebar-home-tab" data-toggle="tab">
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li>
      <a href="#control-sidebar-settings-tab" data-toggle="tab">
        <i class="fa fa-gears"></i>
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Home tab content -->
    <div class="tab-pane active" id="control-sidebar-home-tab">
      <h3 class="control-sidebar-heading" style="text-align: center">
        Halaman Bantuan</h3>
      <ul class="control-sidebar-menu">
        <li>
            <div class="menu-info">
          Aplikasi Simtaru merupakan aplikasi untuk sistem informasi tata ruang dan pertanahan sebagai media penyampaian informasi kepada masyarakat
          </div>
          <br>
        </li>
        <li>
            <div class="menu-info">Aplikasi ini juga merupakan basisdata pertanahan dan penataan ruang di wilayah Kota Yogyakarta</div>
            
          </li>  
          <!--a href="javascript:;">
            <i class="menu-icon fas fa-help bg-red"></i>

            
              <h4 class="control-sidebar-subheading">Simulasi</h4>

              <p>Aplikasi Simulasi Zonasi Ruang</p>
            </div>
          </a-->
        
      </ul>
      <!-- /.control-sidebar-menu -->

      <!--h3 class="control-sidebar-heading">Legenda Peta</h3>
      <ul class="control-sidebar-menu">
        <li>
          <a href="javascript:;">
            <h4 class="control-sidebar-subheading">
              Custom Template Design
              <span class="pull-right-container">
                  <span class="label label-danger pull-right">70%</span>
                </span>
            </h4>

            <div class="progress progress-xxs">
              <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
            </div>
          </a>
        </li>
      </ul-->
      <!-- /.control-sidebar-menu -->

    </div>
    <!-- /.tab-pane -->
    <!-- Stats tab content -->
    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
    <!-- /.tab-pane -->
    <!-- Settings tab content -->
    <div class="tab-pane" id="control-sidebar-settings-tab">

      <h3 class="control-sidebar-heading">Legenda Peta</h3>

      <!-- /.form-group -->

    </div>
    <!-- /.tab-pane -->
  </div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->












<!--div class="navbar navbar-inverse navbar-fixed-top">
  
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">starling</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div-->